@model IEnumerable<FlightDomain.Model.User>

@{
    ViewData["Title"] = "Index";
}

<style>
    .edit-btn {
        background-color: lightcyan;
        color: black;
    }

    .details-btn {
        background-color: lightcyan;
        color: black;
    }

    .delete-btn {
        background-color: lightcyan;
        color: black;
    }
</style>

<h1>КОРИСТУВАЧІ</h1>

<p>
    <a asp-action="Create">Створити нового користувача</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                    <button type="button" class="edit-btn rounded-circle" onclick="location.href='@Url.Action("Edit", new { id = item.Id })'">Редагувати</button> |
                    <button type="button" class="details-btn rounded-circle" onclick="location.href='@Url.Action("Details", new { id = item.Id })'">Детальна інформація</button> |
                    <button type="button" class="delete-btn rounded-circle" onclick="location.href='@Url.Action("Delete", new { id = item.Id })'">Видалити</button> |
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        $.get('/api/ValuesController/JsonData')
            .done(function (JsonData) {
                var data = google.visualization.arrayToDataTable(JsonData, false);

                // Визначте висоту на основі кількості рядків даних.
                var chartHeight = data.getNumberOfRows() * 60; // 30 - це висота кожного рядка в пікселях.

                var options = {
                    title: "Кількість квитків клієнта",
                    width: 1000,
                    height: chartHeight,
                    colors: ['#dacdd2'],
                    vAxis: { format: '0' },
                    hAxis: { format: '0', minValue: 0, maxValue: Math.ceil(data.getColumnRange(1).max) },
                    legend: 'none'
                };

                // Сортуємо дані за кількістю квитків.
                var sortedData = google.visualization.data.group(
                    data,
                    [0],
                    [{ 'column': 1, 'aggregation': google.visualization.data.sum, 'type': 'number' }]
                );
                sortedData.sort({ column: 1, desc: false });

                var chart = new google.visualization.BarChart(document.getElementById('ValuesController'));
                chart.draw(sortedData, options);
            })
            .fail(function (error) {
                console.error('Error loading data:', error);
            });
    }
</script>
