@model IEnumerable<FlightDomain.Model.CategoriesFlight>

@{
    ViewData["Title"] = "Авіарейси за категорією";
}

<style>
    .edit-btn {
        background-color: lightcyan;
        color: black;
    }

    .details-btn {
        background-color: lightcyan;
        color: black;
    }

    .delete-btn {
        background-color: lightcyan;
        color: black;
    }
</style>

<h1>Авіарейси за категорією @ViewBag.CategoryName </h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SeatsNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SeatsNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flight.Description)
            </td>
                <td>
                    <button type="button" class="edit-btn rounded-circle" onclick="location.href='@Url.Action("Edit", new { id = item.Id })'">Редагувати</button> |
                    <button type="button" class="details-btn rounded-circle" onclick="location.href='@Url.Action("Details", new { id = item.Id })'">Детальна інформація</button> |
                    <button type="button" class="delete-btn rounded-circle" onclick="location.href='@Url.Action("Delete", new { id = item.Id })'">Видалити</button> |
                </td>
        </tr>
}
    </tbody>
</table>
