@model IEnumerable<FlightDomain.Model.Airport>

@{
    ViewData["Title"] = "Аеропорти";
}


<style>
    .edit-btn {
        background-color: lightcyan;
        color: black; 
    }

    .details-btn {
        background-color: lightcyan;
        color: black; 
    }

    .delete-btn {
        background-color: lightcyan;
        color: black;
    }

    .arrival-btn {
        background-color: lightcyan;
        color: black;
    }

    .departure-btn {
        background-color: lightcyan;
        color: black;
    }
</style>

<h1>АЕРОПОРТИ</h1>
<p>
    <a asp-action="Create">Створити новий аеропорт</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City.Name)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.Name)
            </td>
                <td>
                    <button type="button" class="edit-btn rounded-circle" onclick="location.href='@Url.Action("Edit", new { id = item.Id })'">Редагувати</button> |
                    <button type="button" class="details-btn rounded-circle" onclick="location.href='@Url.Action("Details", new { id = item.Id })'">Детальна інформація</button> |
                    <button type="button" class="delete-btn rounded-circle" onclick="location.href='@Url.Action("Delete", new { id = item.Id })'">Видалити</button> |
                    <button type="button" class="arrival-btn rounded-circle" onclick="location.href='@Url.Action("ArrivalAirport", new { id = item.Id })'">Рейси прибуття</button> |
                    <button type="button" class="departure-btn rounded-circle" onclick="location.href='@Url.Action("DepartureAirport", new { id = item.Id })'">Рейси відбуття</button>
                </td>
       </tr>
}
    </tbody>
</table>
